@model OgrenciNotMvc.Models.EntityFramework.TBLNOTLAR
@{
    ViewBag.Title = "GetNote";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm("Update", "Note", FormMethod.Post))
{
    <div class="form-group">
        @Html.LabelFor(x => x.SINAV1)
        @Html.TextBoxFor(x => x.SINAV1, new { @class = "form-control" })

    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.SINAV2)
        @Html.TextBoxFor(x => x.SINAV2, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.SINAV3)
        @Html.TextBoxFor(x => x.SINAV3, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.HiddenFor(x => x.PROJE)
        @Html.TextBoxFor(x => x.PROJE, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.HiddenFor(x => x.ORTALAMA)
        @Html.TextBoxFor(x => x.ORTALAMA, new {@Value=ViewBag.ort ,@class = "form-control" })
    </div>
    <div class="form-group">
        @Html.HiddenFor(x => x.DURUM)
        @Html.TextBoxFor(x => x.DURUM, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(x => x.NOTID)
<div style="margin-top:15px">
    <button type="submit" name="islem" value="Hesapla" class="btn btn-default">Ortalama Hesapla</button>
    <br />
    <button type="submit" name="islem" value="Not Güncelle" class="btn btn-success">Güncelle</button>
    
</div>



}

